.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-form {
    width: 40%;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
    padding-right: 30px;
  }
 
  .card-container{
    width: 60%;
    margin: 20px;
  }
  .mat-card{
    background-color: lightblue ;
  }
  .mat-card:hover{
    box-shadow: 6px 7px 16px 5px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}